.box-projetos{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projetos{
    align-items: center;
    margin-bottom: 20px;
    padding: 30px;
    background-color: var(--bg-cards);
    color: var(--text-color);
    width: 100%;
    height: 110px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-out;
}


.projetos.active{
    height: 260px;
    transition: all 0.5s ease-out;
}

.projetos p{
    opacity: 0.8;
}

.conteudo-projeto{
    display: flex;
    justify-content: space-between;
}

.card-projetos img:hover{
    cursor: pointer;
}

.infos-projeto{
    display: none;
}

.infos-projeto.active{
    display: block;
    width: 400px;
    display: flex;
    height: 100%;
}

.infos-projeto.active .infos-projeto-cont{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
} 

.infos-projeto.active .infos-projeto-cont p{
    margin: 5px 0px;
} 

.infos-projeto.active .infos-projeto-cont a {
    margin: 3px 0px;
}

.infos-projeto.active .infos-projeto-cont h3{
    margin: 10px;
}

.infos-projeto.active .alinhar-cards{
    display: flex;
}

.infos-projeto.active .alinhar-cards .card{
    margin: 0 8px;
}

